<% layout('layouts/boilerplate') -%>

    <h1>Create recipe</h1>
    <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST" id="recipeEditForm" enctype="multipart/form-data">
        <div>
            <label for="title">Title</label>
                <input type="text" id="title" name="recipe[title]" value="<%= recipe.title %>">
        </div>
        <div>
            <label for="location">Location</label>
                <input type="text" id="location" name="recipe[location]" value="<%= recipe.location %>">
        </div>
        <div>
            <label for="description">Description</label>
                <input type="text" id="description" name="recipe[description]" value="<%= recipe.description %>">
        </div>
        <div>
            <input type="file" id="imageUpload" name="images" accept="image/*" multiple>
            <div>
                <% recipe.images.forEach((image,i)=>{ %>
                    <span><img src="<%= image.url %>" width="300" alt=""></span>
                    <span>
                        <label for="image<%= i %>">Delete</label>
                        <input type="checkbox" name="deleteImages[]" id="image<%= i %>" value="<%= image.public_id %>" class="checkboxDelete">
                    </span>
                <% }) %>
            </div>
        </div>
        <input type="submit" value="Update recipe">
    </form>

    <script src="/javascripts/recipe/edit.js"></script>
