<%- include("../partials/header") %>

    <h1>Index recipes</h1>
    <% recipes.forEach((recipe)=>{ %>
        <div>
            <%= recipe.title %> - <i>created</i> <%= recipe.date.toDateString() %>
        </div>
        <%= recipe.description %>
        <a href="<%= recipe._id %>">View more</a>
    <% }) %>

<%- include("../partials/footer") %>