<% layout('layouts/boilerplate') -%>

    <div>
        <h1>Recipes</h1>
    </div>
    <div class="recipes-grid">
        <% recipes.forEach((recipe)=>{ %>
            <div class="recipe-card" style="background-image: url('<% if(recipe.images[0]){ %><%= recipe.images[0].url %><% } %>');">
                <div class="recipe-title">
                    <%= recipe.title %>
                </div>
                <div class="recipe-data">
                    <i>created</i> <%= recipe.date.toDateString() %>
                </div>
                <div class="recipe-description">
                    <%= recipe.description %>
                </div>
                <div class="recipe-more">
                    <a href="/recipes/<%= recipe._id %>" class="btn btn-secondary">View more</a>
                </div>
            </div>
        <% }) %>
    </div>

