<% layout('layouts/recipe/show') -%>

    <h1>
        <%= recipe.title %>
    </h1> - 
    <span>
        <%= recipe.date.toDateString() %> - <i><%= recipe.location %></i>
    </span>
    <h3>
        <%= recipe.description %>
    </h3>
    <div>
        <% recipe.images.forEach((image)=>{ %>
            <span>
                <img src="<%= image.url %>" width="300" alt="">
            </span>
        <% }) %>
    </div>
    <div id='map'></div>
    <a href="<%= recipe._id %>/edit">Edit</a>

    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" >
        <input type="submit" value="Delete recipe">
    </form>


