<% layout('layouts/recipe/show') -%>

    <div>
        <h1>
            <%= recipe.title %>
        </h1>
        <span>
            <%= recipe.date.toDateString() %> - <i><%= recipe.location %></i>
        </span>
    </div>
    <div class="recipe-show">
        <h4>
            <%= recipe.description %>
        </h4>
        <div>
            <% recipe.images.forEach((image)=>{ %>
                <span>
                    <img src="<%= image.url %>" width="300" alt="">
                </span>
            <% }) %>
        </div>
        <div id='map'></div>

        <!-- send to nav-main boiler plate -->
        <div class="recipe-controllers"> 
            <a href="<%= recipe._id %>/edit">Edit</a>
        
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" >
                <input type="submit" value="Delete recipe">
            </form>
        </div>

        <!-- comment section -->

        <section class="comments">
            <div class="comments-box">
                <div class="commentstittle-box">
                    <h2>
                        Comments
                    </h2>
                </div>
                <!-- <div class="comments-create-box">
                    <button class="comments-create-btn">
                        Create comment
                    </button>
                </div> -->
            </div>

            <div class="comment-form">
                <form action="/recipes/<%= recipe._id %>/comments" method="POST">
                    <div class="comment-form__title">
                        <label for="title">Title:</label>
                        <input type="text" id="title" placeholder="Comment title" name="comment[title]">
                    </div>
                    <div class="comment-form__body">
                        <textarea name="comment[body]" id="body" placeholder="Write a comment"></textarea>
                    </div>
                    <div class="comment-form__rating">
                        <input type="number" name="comment[rating]" placeholder="Rate recipe">
                    </div>
                    <input type="submit" value="Create comment">
                </form>
            </div>
    
            <% recipe.comments.forEach((comment)=>{ %>
                <div class="comment__title">
                    <span class="comment__title--text">
                        <%= comment.title %>
                    </span> 
                    <span class="comment__date">
                        - <%= comment.date.toDateString() %> -
                    </span> 
                    <span class="comment__author">
                        <%= comment.author.username %>
                    </span> 
                </div>
                <div class="comment__body">
                    <%= comment.body %>
                </div>
                <div class="comment__info">
                    Rated this recipe at: <%= comment.rating %> 
                </div>
            <% }) %>
        </section>


    </div>
